.important{
  color: red;
  font-style: bold;
}

.unimportant{
  background-color: gold;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.highlight{
  font-style: italic;
}